In [12]:
import pandas as pd
from pandas import Series, DataFrame
from pandas import read_html

In [13]:
url ='http://www.fdic.gov/bank/individual/failed/banklist.html'

In [14]:
url

'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [15]:
pip install beautiful-soup

ERROR: Could not find a version that satisfies the requirement beautiful-soup (from versions: none)
ERROR: No matching distribution found for beautiful-soup
Note: you may need to restart the kernel to use updated packages.

In [16]:
pip install html5lib

Requirement already satisfied: html5lib in /opt/anaconda3/lib/python3.12/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [17]:
dframe_list = pd.io.html.read_html(url)

In [18]:
dframe =dframe_list[0]
dframe

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [19]:
dframe.columns.values

array(['Bank Name', 'City', 'State', 'Cert', 'Acquiring Institution',
       'Closing Date', 'Fund  Sort ascending'], dtype=object)

working with excel

In [20]:
pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.12/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd

# Define the data
data = {
    "This is a test": [23, 33, 33.0, 44],
    "Unamed:1": [34, 33, 23, 22],
    "Named:2": [344, 22, 43, 33]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Save as an .xls file using xlwt engine
file_path = "test_file.xlsx"
df.to_excel(file_path, index=False, header =False)

file_path

'test_file.xlsx'

In [27]:
xlsfile = pd.ExcelFile('test_file.xlsx')

In [28]:
dframe = xlsfile.parse('Sheet1')

In [29]:
dframe

   23   34   344
0   33   33   22
1   33   23   43
2   44   22   33