Learning pandas

In [17]:
#Series
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [18]:
#Create series
obj = Series([3,6,9,12])

In [19]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [20]:
obj.values

array([ 3,  6,  9, 12])

In [21]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
ww2_cas = Series([87000000,4300000,3000000,21000000,400000],index=['ussr','nepal','uk','usa','japan'])

In [23]:
ww2_cas

ussr     87000000
nepal     4300000
uk        3000000
usa      21000000
japan      400000
dtype: int64

In [30]:
ww2_cas.values

array([87000000,  4300000,  3000000, 21000000,   400000])

In [31]:
ww2_cas.index

Index(['ussr', 'nepal', 'uk', 'usa', 'japan'], dtype='object')

In [32]:
ww2_cas['usa']

21000000

In [37]:
ww2_cas['usa']

21000000

In [39]:
#check which countries had cas greater than 4 million
ww2_cas[ww2_cas >4000000]

ussr     87000000
nepal     4300000
usa      21000000
dtype: int64

In [40]:
'ussr' in ww2_cas

True

In [41]:
#converting series into dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'ussr': 87000000,
 'nepal': 4300000,
 'uk': 3000000,
 'usa': 21000000,
 'japan': 400000}

In [42]:
#converting dictionary into series
ww2_series = Series(ww2_dict)
ww2_series

ussr     87000000
nepal     4300000
uk        3000000
usa      21000000
japan      400000
dtype: int64

In [43]:
countries = ['china','japan','india','uk','usa','france']

In [44]:
countries

['china', 'japan', 'india', 'uk', 'usa', 'france']

In [45]:
obj2 = Series(ww2_dict, index = countries)
obj2

china            NaN
japan       400000.0
india            NaN
uk         3000000.0
usa       21000000.0
france           NaN
dtype: float64

In [46]:
pd.isnull(obj2)

china      True
japan     False
india      True
uk        False
usa       False
france     True
dtype: bool

In [47]:
pd.notnull(obj2)

china     False
japan      True
india     False
uk         True
usa        True
france    False
dtype: bool

In [48]:
ww2_series

ussr     87000000
nepal     4300000
uk        3000000
usa      21000000
japan      400000
dtype: int64

In [49]:
obj2

china            NaN
japan       400000.0
india            NaN
uk         3000000.0
usa       21000000.0
france           NaN
dtype: float64

In [50]:
ww2_series + obj2

china            NaN
france           NaN
india            NaN
japan       800000.0
nepal            NaN
uk         6000000.0
usa       42000000.0
ussr             NaN
dtype: float64

In [51]:
obj2.name = "world war 2 casulties"
obj2

china            NaN
japan       400000.0
india            NaN
uk         3000000.0
usa       21000000.0
france           NaN
Name: world war 2 casulties, dtype: float64

In [52]:
obj2.index.name = "countries"

In [53]:
obj2

countries
china            NaN
japan       400000.0
india            NaN
uk         3000000.0
usa       21000000.0
france           NaN
Name: world war 2 casulties, dtype: float64

Data Frame

In [73]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [76]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [79]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North
3,4,Chicago Bears,"1,488",798,646,42 (1),0.553,1920,NFC North

In [80]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division'],
      dtype='object')

In [83]:
nfl_frame['First NFL season'] #displaying single column

0    1996
1    1960
2    1921
3    1920
Name: First NFL season, dtype: int64

In [86]:
DataFrame(nfl_frame,columns=['Team','GP','Won']) #displaying multiple column

                Team     GP  Won
0   Baltimore Ravens    468  268
1     Dallas Cowboys    998  569
2  Green Bay Packers  1,452  811
3      Chicago Bears  1,488  798

In [88]:
DataFrame(nfl_frame,columns=['Team','GP','Won','stadium']) #Adding one more column

                Team     GP  Won  stadium
0   Baltimore Ravens    468  268      NaN
1     Dallas Cowboys    998  569      NaN
2  Green Bay Packers  1,452  811      NaN
3      Chicago Bears  1,488  798      NaN

In [89]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North
3,4,Chicago Bears,"1,488",798,646,42 (1),0.553,1920,NFC North

In [90]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North
3,4,Chicago Bears,"1,488",798,646,42 (1),0.553,1920,NFC North

In [91]:
nfl_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North

In [100]:
nfl_frame.iloc[0] #iloc is a method

Rank                               1
Team                Baltimore Ravens
GP                               468
Won                              268
Lost                             199
Tied[c]                            1
Pct.                           0.574
First NFL season                1996
Division                   AFC North
Name: 0, dtype: object

In [103]:
nfl_frame['Stadium'] = "Levi's stadium"

In [102]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North,Levi's stadium
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East,Levi's stadium
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North,Levi's stadium
3,4,Chicago Bears,"1,488",798,646,42 (1),0.553,1920,NFC North,Levi's stadium

In [105]:
nfl_frame['stadium']=np.arange(4)

In [106]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium,stadium
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North,Levi's stadium,0
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East,Levi's stadium,1
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North,Levi's stadium,2
3,4,Chicago Bears,"1,488",798,646,42 (1),0.553,1920,NFC North,Levi's stadium,3

In [119]:
stadiums = Series(["a","b"],index=[3,0])

In [120]:
stadiums

3    a
0    b
dtype: object

In [121]:
nfl_frame['stadium'] = stadiums

In [122]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium,stadium
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North,Levi's stadium,b
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East,Levi's stadium,NaN
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North,Levi's stadium,NaN
3,4,Chicago Bears,"1,488",798,646,42 (1),0.553,1920,NFC North,Levi's stadium,a

In [123]:
del nfl_frame['Stadium']

In [124]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,stadium
0,1,Baltimore Ravens,468,268,199,1,0.574,1996,AFC North,b
1,2,Dallas Cowboys,998,569,423,6 (0),0.573,1960,NFC East,NaN
2,3,Green Bay Packers,"1,452",811,605,38 (8),0.572,1921,NFC North,NaN
3,4,Chicago Bears,"1,488",798,646,42 (1),0.553,1920,NFC North,a

In [125]:
data = {'city':['SF','LA','NYC'],'population':[837000,388000,4500000]}

In [126]:
data

{'city': ['SF', 'LA', 'NYC'], 'population': [837000, 388000, 4500000]}

In [127]:
city_frame = DataFrame(data)

In [128]:
city_frame

  city  population
0   SF      837000
1   LA      388000
2  NYC     4500000